<div class="container">
  <h2 class="title-lg mb">
    Recently registered
  </h2>

  <div class="users-box">
    <% @users.each do |user| %>
      <%= render partial: 'users/user_avatar', locals: {user: user} %>
    <% end %>
  </div>
</div>

<div class="container mt-sm">
  <h2 class="title-lg">
    Last
    <%= @questions.count %>
    <%= inclination(@questions.count, 'question', 'questions') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <p class="mb text-sm text-grey">
      Question <%= link_to "##{question.id}", question_path(question) %>
      for user <%= link_to "@#{question.user.nickname}", user_path(question.user) %>
    </p>
    <%= render question %>
  </div>
<% end %>
