<div class="container">
  <h2 class="title">Choose a new navbar color!</h2>

  <% if @user.errors.any? %>
    <div class="mt">
      <% @user.errors.full_messages.each do |message| %>
        <p class="mb-sm text-red"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mt">
    <p class="mb-sm">Enter the color in hex format</p>
    <%= form_with model: @user, data: {turbo: false} do |form| %>
      <p><%= form.label :navbar_color, 'Color' %></p>
      <p><%= form.text_field :navbar_color, class: 'form-text-field' %></p>

      <p class="mt-lg"><%= form.submit 'Enter', class: 'button button-main' %></p>
    <% end %>
  </div>
</div>
